question:1

In [2]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

In [3]:
 b()
 b()
 b()
 a

6

(1) a is initialised to 0 here in step 1 of the process. 
(2) the function b() was defined.
(3) Next, we defined global a, which signifies that 'a' is a global variable and may be used by any class to carry out an           action. 
(4) The line a = c(a) in b() gets executed on the first call. The current value of a (which is 0) is used to run the function       c(a), which adds 2 to it and returns the result as 2.
(5) In the following step, the global variable a is given this value. a is now 2 as a result. 
(6) Now, in the second call of b(), the line a = c(a) is executed but the function c(a) gets the current value, which is 2,         adds 2 to it and then returns 4; this gives us a value of 4.
(7) In the 3rd call of b() with the same processor we get the value of a=6.

question:2

In [2]:
def file_length(file_name):
    try:
                                       
        infile = open(file_name)
        contents = infile.read()
        infile.close()
        return len(contents)
    except:
        print("File " + file_name + " not found.")
    

file_length("Filelength.txt")

123

question:3

In [3]:
class Marsupial:               #defined class Marsupial
   
    XYZ = []
    
    def put_in_pouch(self, item):
        self.XYZ.append(item)
        
    def pouch_contents(self):
        print(self.XYZ)
        
    
class Kangaroo(Marsupial):     #subclass
   
    def __init__(self, x, y):  #extends the Marsupial __init__ 
        self.x = x
        self.y = y
        
    def jump(self, dx, dy):    # used jump
        self.x+= dx
        self.y+= dy
        
    def __str__(self):        # overloads __str__
         return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

        
        
C=Kangaroo(0,0)
print(C)
C.put_in_pouch('doll')
C.put_in_pouch('firetruck')
C.put_in_pouch('kitten')
C.pouch_contents()
C.jump(1,0)
C.jump(1,0)
C.jump(1,0)
print(C)    # Output: I am a Kangaroo located at coordinates (3,0)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

question 4

In [2]:
def collatz(x):
    print(x)
    while x != 1:
        
        if x % 2 == 0:
            x = x // 2
        else:
            x = 3*x + 1
        print(x)
Num1 = int(input("enter num:"))
collatz(Num1)
Num2 = int(input("enter num:"))
collatz(Num2)

enter num:1
1
enter num:10
10
5
16
8
4
2
1

question :5

In [3]:
def binary(a):
    if a == 0:
        return  '0'
    elif a == 1:
        return  '1'
    else:
        return binary(a // 2) + str(a % 2)
a = int(input("Enter a number : "))
binary(a)

Enter a number : 9

'1001'

question :6

In [18]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):    
    def __init__(self):
        super().__init__()
        self.ABC = []

    def handle_starttag(self, x, y): 
        if x.startswith('h'):
            self.ABC.append(x)   

    def handle_data(self, D):     
        if self.ABC:   
            print(' ' * (len(self.ABC) - 1)  + D.strip()) 

    def handle_endtag(self, x):
        if x.startswith('h'):
            self.ABC.pop()
    def print_headings(self):
        for level,heading in self.ABC:
            print(''*level+heading)

inFile = open('w3c.html')
content = inFile.read()
inFile.close()
hp= HeadingParser()
hp.feed(content)
hp.print_headings()

 Change_me






 W3C Mission

 Principles

question:7

In [7]:
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    if depth < 0:
        return

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    print(' ' * indent + url)

    if depth == 0:
        return

    links = soup.find_all('a')
    for link in links:
        href = link.get('href')
        if href.startswith('http'):
            webdir(href, depth - 1, indent + 1)

In [8]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [9]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test2.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test2.html

In [14]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test3.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test3.html

In [15]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test4.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

question:8

In [19]:
import sqlite3                    
X=sqlite3.connect("LSPatel.db")               # Connect to the database (create it if it doesn't exist)
Y = X.cursor()
Y.execute("CREATE TABLE IF NOT EXISTS mytable(city text, country text, season text, temperature double, rainfall double)")
                                               # Create a table

Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Winter',24.8 ,5.9)")           # Insert some data into the table
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Spring',28.4 ,16.2)")
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Summer',27.9 ,1549.4)")
Y.execute("INSERT INTO mytable VALUES ('Mumbai','India','Fall', 27.6 ,346.0)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Winter',4.2 ,207.7)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Spring',8.3 ,169.6)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom', 'Summer',15.7 ,157.0)")
Y.execute("INSERT INTO mytable VALUES ('London','United Kingdom','Fall',10.4 ,218.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Winter', 13.6 ,16.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Spring', 20.7 ,6.5)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Summer', 27.7 ,0.1)")
Y.execute("INSERT INTO mytable VALUES ('Cairo', 'Egypt', 'Fall', 22.2 ,4.5)")
X.commit()                             # Commit the changes

In [20]:
### a) All the temperature data.###

Y.execute("SELECT * from mytable")

for record in Y:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [21]:
### b) All the cities, but without repetition.###

Y.execute("SELECT DISTINCT city FROM mytable")

for record in Y:
    print(record[0])

Mumbai
London
Cairo

In [22]:
### c) All the records for India.###

Y.execute("SELECT * FROM mytable WHERE Country = 'India'")

for record in Y:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [23]:
### d) All the Fall records.###

Y.execute("SELECT * FROM mytable WHERE Season = 'Fall'")

for record in Y:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [24]:
### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.###

Y.execute("SELECT city, country, season FROM mytable Group by city, country, season  having AVG(rainfall) BETWEEN 200 AND 400")

for record in Y:
    print(record)

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [25]:
### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.###

Y.execute("SELECT SUM(rainfall) AS total_rainfall FROM mytable where City = 'Cairo' ")

for record in Y:
    print(record[0])

27.6

In [26]:
### g) The total annual rainfall for Cairo.###

Y.execute("SELECT SUM(Rainfall) FROM mytable GROUP BY Season")

for record in Y:
    print(record[0])

569.0
192.29999999999998
1706.5
230.1

In [27]:
### h) The total rainfall for each season.###

Y.execute("SELECT SUM(rainfall) AS total_rainfall FROM mytable GROUP BY season")

for record in Y:
    print(record[0])

569.0
192.29999999999998
1706.5
230.1

question:9

In [32]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
##    a   ##
upper_word = [word.upper() for word in words]
##    b   ##
lower_word = [word.lower() for word in words]
##    c   ##
word_length = [len(word) for word in words]
##    d   ##
word_infolist = [[word.upper(), word.lower(), len(word)] for word in words]
##    e   ##
long_words = [word for word in words if len(word) >= 4]

print(upper_word,"\n\n")
print(lower_word,"\n\n")
print(word_length,"\n\n")
print(word_infolist,"\n\n")
print(long_words,"\n\n")

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']